<div class="container py-5">
  <div class="row">
    <div class ="col-lg-4">
      <h2 class="section-heading">Challenges</h2>
    </div>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h3 class="mb-0">
          <button class="btn btn-link font-weight-bold" style="color: #333;" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Service/Gratitude
          </button>
        </h3>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% @ser.each do |mission| %>
              <li class="list-group-item">
                <%= mission.name %>
                <span class="badge badge-secondary ml-2">
                  <%= mission.points %>
                  points
                </span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h3 class="mb-0">
          <button class="btn btn-link collapsed font-weight-bold" style="color: #333;" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Evangelism
          </button>
        </h3>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% @evangelism.each do |mission| %>
              <li class="list-group-item">
                <%= mission.name %>
                <span class="badge badge-secondary ml-2">
                  <%= mission.points %> points
                </span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h3 class="mb-0">
          <button class="btn btn-link collapsed font-weight-bold" style="color: #333;" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Spiritual Growth
          </button>
        </h3>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% @sg.each do |mission| %>
              <li class="list-group-item">
                <%= mission.name %>
                <span class="badge badge-secondary ml-2">
                  <%= mission.points %> points
                </span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h3 class="mb-0">
          <button class="btn btn-link collapsed font-weight-bold" style="color: #333;" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Equipping
          </button>
        </h3>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% @eq.each do |mission| %>
              <li class="list-group-item">
                <%= mission.name %>
                <span class="badge badge-secondary ml-2">
                  <%= mission.points %> points
                </span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
