<div class="intro-header">
  <div class="intro-header__overlay"></div>
  <canvas id="canvas" class="intro-header__snow"></canvas>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <div class="intro__makenew">pittsburgh</div>
          <div class="intro__subtitle">Winter Challenge</div>
          <div class="stats">
            <div class="stat stat--with-bg">
              <i class="fa fa-crown fa-2x"></i>
              <h3><%= @winner[0] %></h3>
              <div class="stat__count"><%= @winner[1] %></div>
              <div class="stat__label">Points</div>
            </div>
            <% @points.each do |team| %>
              <div class="stat stat--with-bg">
                <h3><%= team[0] %></h3>
                <div class="stat__count"><%= team[1] %></div>
                <div class="stat__label">Points</div>
              </div>
            <% end %>
          </div>
          <button type="button" data-toggle="modal" data-target="#logChallenge" class="btn btn-warning btn-lg">Log a challenge</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.intro-header -->
<!-- Page Content -->
<!-- /.content-section-a -->
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="text-center col-lg-12">
        <h2 class="section-heading">Recent happenings ...</h2>
      </div>
      <% @comments[0..2].each do |comment| %>
        <div class="col-lg-4 mb-3">
          <div class="card">
            <div class="card-header text-uppercase" style="font-size: 12px;">
              <%= comment.created_at.in_time_zone("Eastern Time (US & Canada)").to_time.strftime('%B %e at %l:%M %p') %>
            </div>
            <div class="card-body">
              <span class="font-weight-bold"><%= comment.user.name %></span> recently logged <span class="font-weight-bold"><%= comment.mission.name %></span> and earned <span class="font-weight-bold"><%= comment.mission.points %> points</span> for the <span class="font-weight-bold"><%= comment.user.campus + " " + (comment.user.staff ? "Staff" : (comment.user.gender ? "Bros" : "Sis")) %></span> team!
            </div>
          </div>
        </div>
      <% end %>
      <div class="text-center col-lg-12 mt-2">
        <a href="/completed" class="btn btn-warning mt-3">View Completed Challenges</a>
      </div>
    </div>
  </div>
</div>
</div>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 text-center">
        <img class="mb-5 mb-lg-0" src="https://i.ibb.co/qRFPwNY/kisspng-winter-flat-design-clip-art-night-winter-town-5a8541383b0499-8778344615186824242418.png" width="90%">
      </div>
      <div class="col-sm-12 col-lg-6 text-center text-lg-left">
        <h2 class="section-heading"><span>The Rules<span></h2>
          <ul class="text-left">
            <li>Challenge <span class="font-weight-bold">starts 12/6/19 and ends 1/6/20</span>.</li>
            <li>Completed a challenge? Great! Make your points count by logging it on this website!</li>
            <li>Upload a photo or video, if possible!</li>
            <li>All memorization challenges will be checked by the <span class="font-weight-bold">fearsome Andy/Sam</span> at the end of the challenge.</li>
          </ul>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
  </div>
</div>
<!-- /.content-section-a -->
<div class="content-section-a">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2 class="section-heading">Prizes</h2>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="prize-container">
          <div class="icon mb-3"><i class="fas fa-tshirt fa-3x"></i></div>
          <h3 class="mb-3">PGH Winter Challenge shirt</h3>
          <p>The winning team gets a special, limited edition PGH Winter Challenge shirt! (To qualify for this, you must complete challenges from 4 out of 4 categories, with a total of at least 400 points.)</p>
          <p>You can also receive this prize by completing the 2 Timothy Memorization challenge.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="prize-container">
          <div class="icon mb-3"><i class="fas fa-tree fa-3x"></i></div>
          <h3 class="mb-3">Free Trip to Spring Retreat</h3>
          <p>
            The student with the most points overall (minimum 500 points, with a complete challenge from every category) gets a
            free trip to Spring Retreat!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
