<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comment.user.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Team:</strong>
  <%= @comment.user.campus + " " + (@comment.user.staff ? "Staff" : (@comment.user.gender ? "Bros" : "Sis")) %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
