<div class="container py-5">
  <h2 class="mb-4">Create Your Profile</h2>
  <div class="row">
    <div class="col-md-4">
      <%= simple_form_for(@user, url: profile_path, :method => :update) do |f| %>
        <div class="form-group">
          <%= f.input :name, :label => 'Name', input_html: {value: @user_name, class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.input :campus, collection: @campus_names, :label => 'Campus', selected: @user_campus, input_html: {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.input :gender, collection: ["Male", "Female"], :label => "Gender", selected: @user_gender, input_html: {class: "form-control"} %>
        </div>
        <div class="form-group form-check">
          <%= f.input :staff, :label => "Staff", :value => @user_staff, input_html: {class: "form-check-input"}%>
        </div>
        <%= f.button :submit,  data: { disable_with: false }, class: 'btn btn-warning' %>
      <% end -%>
    </div>
  </div>
</div>
