<script>
    $(document).ready(function() { $("#user_team").select2(); });
 </script> 

<%= csrf_meta_tags %>

<div class="Container">

  <%= simple_form_for(@user, url: profile_path, :method => :update) do |f| %>
    <%= f.input :name, :label => 'Name', input_html: {value: @user_name} %>
  	<%= f.input :campus, collection: @campus_names, :label => 'Campus', selected: @user_campus%>
    <%= f.input :gender, collection: ["Male", "Female"], :label => "Gender", selected: @user_gender%>
    <%= f.input :staff, :label => "Staff", :value => @user_staff%>
    <%= f.button :submit,  data: { disable_with: false }, class: 'Button' %>
  <% end -%>
</div>