<%= csrf_meta_tags %>

<div class="container py-5">
  <div class="row">
    <div class="col-lg-4">
      <h2 class="mb-4">Update Profile</h2>
      <%= simple_form_for(@user, url: profile_path, :method => :update) do |f| %>
        <div class="form-group">
          <%= f.input :name, :label => 'Name', input_html: {value: @user_name, class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.input :campus, collection: @campus_names, :label => 'Campus', selected: @user_campus, input_html: {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.input :gender, collection: ["Male", "Female"], :label => "Gender", selected: @user_gender, input_html: {class: "form-control"} %>
        </div>
        <%= f.button :submit,  data: { disable_with: false }, class: 'btn btn-warning' %>
      <% end -%>
    </div>
    <div class="col-lg-4 mt-5 mt-lg-0 ml-lg-5 ml-0">
      <div class="card text-center mb-3">
        <div class="card-body">
          <h2 class="mb-4">Your Points</h2>
          <p>You currently have</p>
          <h2 class="font-weight-bold"><%= @user_points %> points</h2>
          <div class="position-relative mx-auto" style="height: 200px; width: 200px;">
            <%= render partial: 'category_chart' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
