<!DOCTYPE html>
<html>
  <head>
    <title>Pittsburgh 2019 Christmas Challenge</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap" rel="stylesheet">  </head>
  <script src="https://kit.fontawesome.com/26fce218a0.js" crossorigin="anonymous"></script>
  <body>
  <% if !session[:user_email].nil? %>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top topnav" role="navigation">
      <%= link_to "PGH Winter Challenge", root_path, class: "navbar-brand" %>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "Challenges", challenges_path, {:class=>"nav-link mr-3"} %>
          </li>
          <li class="nav-item">
            <%= link_to "Completed", completed_path, {:class=>"nav-link mr-3"} %>
          </li>
          <li class="nav-item">
            <%= link_to "Profile", profile_path, {:class=>"nav-link mr-3"} %>
          </li>
          <li class="nav-item">
            <%= link_to "Log Out", signout_path, {:class=>"nav-link mr-3"} %>
          </li>
          <li class="nav-item">
            <button type="button" data-toggle="modal" data-target="#logChallenge" class="btn btn-warning">Log a challenge</button>
          </li>
        </ul>
      </div>
    </nav>
  <% end %>
    <div class="flash">
      <% flash.each do |message_type, message| %>
        <% if message_type == "success" %>
          <div class="alert alert-success alert-dismissible" role="alert">
            <%= message %>
          </div>
        <% else %>
          <div class="alert alert-danger alert-dismissible" role="alert">
            Error(s) with your submission: <%= message %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
    <!-- Modal -->
    <% if !session[:user_email].nil? %>
      <div class="modal fade" id="logChallenge" tabindex="-1" role="dialog" aria-labelledby="logChallengeTitle" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="logChallengeTitle">Log a challenge</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= form_for @comment, :html => {:role => 'form'} do |f| %>
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-12">
                    <%= render 'shared/error_messages' %>
                    <div class="form-group">
                      <%= f.label :mission_id, "Challenge" %>
                      <select class="form-control" name="comment[mission_id]" id="comment_mission_id">
                        <option value>Select Challenge</option>
                        <optgroup label="Spiritual Growth">Spiritual Growth
                          <% @sg.each do |mission| %>
                            <option value=<%= mission.id %>><%= mission.name %> - <%= mission.points%> points</option>
                          <% end %>
                        </optgroup>
                        <optgroup label="Evangelism">Evangelism
                          <% @evangelism.each do |mission| %>
                            <option value=<%= mission.id %>><%= mission.name %> - <%= mission.points%> points</option>
                          <% end %>
                        </optgroup>
                        <optgroup label="Service/Gratitude">Service/Gratitude
                          <% @ser.each do |mission| %>
                            <option value=<%= mission.id %>><%= mission.name %> - <%= mission.points%> points</option>
                          <% end %>
                        </optgroup>
                        <optgroup label="Equipping">Equipping
                          <% @eq.each do |mission| %>
                            <option value=<%= mission.id %>><%= mission.name %> - <%= mission.points%> points</option>
                          <% end %>
                        </optgroup>
                      </select>
                    </div>
                    <div class="form-group">
                      <%= f.label :content, "Blurb (required)" %>
                      <%= f.text_area :content, { :class => "form-control", rows: "5", required: true} %>
                    </div>
                    <div class="form-group">
                      <%= f.label :avatar, "Upload a Picture (recommended)" %>
                      <%= f.file_field :avatar, { :class => "form-control", direct_upload: true} %>
                    </div>
                    <div class="form-group">
                      <%= f.label :video, "Upload a Video (optional but required for Bible memory challenges)" %>
                      <%= f.file_field :video, { :class => "form-control", direct_upload: true} %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <%= f.submit "Submit", class: "btn btn-warning" %>
              </div>
            <% end %>
          </div>
        </div>
    <% end %>
    </div>
    <% if !session[:user_email].nil? %>
      <footer class="navbar navbar-expand-lg navbar-dark text-center">
        <div class="m-auto">
          © 2019 - 2020. Challenge created by <a href="https://pitt.makenewfellowship.org">Pitt MakeNew</a> and <a href="https://cmu.klesis.org">CMU Klesis</a>.
        </div>
      </footer>
    <% end %>
  </body>
</html>
